body,
html { 
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(Captura\ de\ pantalla\ \(16\).png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1, strong{
    /* text-align: center; */
    font-size: 3rem;
}


hr{
    border-color: orange;
    border-width: 3px;
    max-width: 65px;
}

.buffer{
    height: 10rem;
}

.btn{
    font-weight: 700px;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary{
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover{
    background-color: purple;
    border-width: 4px;
    /* border-color: purple; */
}

.btn-xl{
    padding: 1rem 2rem;
}